.navbar {
  background: linear-gradient(to top right, #0545bd , #032d7a);;
  font-size: 18px;
  box-shadow: 0 2px 5px #5f96fb;
  padding: 10px 0;
  margin-bottom: 20px;
}
.navbar-brand {
  margin-left: 10px;
}
.nav-item {  margin-right: 30px; }
.navbar-toggler {
  border: none;
  outline: none !important;
  margin: 0%;
}
.navbar-toggler span {
  color: white;
  font-size: 1.5rem;
}
.nav-link {
  display: inline-block;
  margin-left: 20px;
}
.dropdown-menu {
  min-width: 10px !important;
  max-width: 120px;
  margin-left: 10px;
}

