<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 recipe-img">
      <img src="https://bit.ly/2LEbzyZ" alt="pizza" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Recipe Name</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 recipe-selection">
      <mat-form-field appearance="fill">
        <mat-label>Manage Recipe</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Add to shopping list</mat-option>
          <mat-option value="2">Edit recipe</mat-option>
          <mat-option value="3">Delete recipe</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Description
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>
</div>
