<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{recipeItem.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 recipe-img">
      <img [src]="recipeItem.imagePath" alt="pizza" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 recipe-selection">
      <div class="dropdown">
        <button class="btn dropdown-toggle"
                mat-raised-button
                color="primary"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
              Mangae Recipe
        </button>
        <ul class="dropdown-menu"
            [ngbCollapse]="isCollapsed"
            aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" (click)= "onAddToshoppingList()">Add to shopping list</a></li>
          <li><a class="dropdown-item" href="#">Edit recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipeItem.description}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipeItem.ingredients">
          {{ingredient.ingName}} &mdash; {{ingredient.ingAmount}}
        </li>
      </ul>
    </div>
  </div>
</div>
